@font-face {
    font-family: ScoreFont;
    src: url('../fonts/ScoreFont.ttf')
}
body, html {
    margin: 0; padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
#score {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 12vh;
    color: #fff;
    text-shadow: -3px -3px 0 #000,  
    3px -3px 0 #000,
    -3px 3px 0 #000,
     3px 3px 0 #000;
    font-family: ScoreFont, sans-serif;
}

#info {
  position: absolute;
  right: 20px;
  top: 20px;
  width: auto;
  display: block;
  font-family: monospace;
  font-size: 15px;
  padding: 10px; margin: 0;
  color: #3b7e6f;
  background: rgba(255, 255, 255, 0.5);
}
#info li {
  display: block;
  position: relative;
}
#chart {
    height: 200px;
    max-width: 100%;
    position: relative;
}